[project]
	description = GarryWare for GMod 13!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Harris (invalidstatement)
[access "refs/for/refs/*"]
	read = group user/David Harris (invalidstatement)
	push = group user/David Harris (invalidstatement)
	label-Code-Review = -2..+2 group user/David Harris (invalidstatement)
	label-Verified = -1..+1 group user/David Harris (invalidstatement)
	rebase = group user/David Harris (invalidstatement)
	removeReviewer = group user/David Harris (invalidstatement)
	submit = group user/David Harris (invalidstatement)
[access "refs/heads/*"]
	read = group user/David Harris (invalidstatement)
	create = group user/David Harris (invalidstatement)
	push = +force group user/David Harris (invalidstatement)
	pushMerge = group user/David Harris (invalidstatement)
[access "refs/tags/*"]
	push = +force group user/David Harris (invalidstatement)
	pushTag = group user/David Harris (invalidstatement)
	pushSignedTag = group user/David Harris (invalidstatement)
